@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

$primary: rgb(79, 75, 117);
$secondary: orange;
$white: #fff;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "white": $white
);

//loop over theme colours and make bg-<color> and text-<color> classes
@each $color,
$value in $theme-colors {
    .bg-#{$color} {
        background-color: $value !important;
    }

    .text-#{$color} {
        color: $value !important;
    }
}


* {
    font-family: 'Montserrat', sans-serif;
}

.no-select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                          supported by Chrome and Opera */
}

.logo {
    will-change: filter;
    transition: filter 300ms;
    padding: 1em 0em 0.5em 0;
    z-index: 5;
}

.logo:hover {
    filter: drop-shadow(0 0 0.1 5em #dfdfdf);
}

.tdn {
    text-decoration: none;
}

.text-center {
    text-align: center;
}

big {
    font-size: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

.header {
    background: $primary;
}
